################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lab 2/MMABooksADO2022/MMABooksDBClasses/mySqlSettingsExample.json
